{% extends 'base.html.twig' %}

{% block title %} Newsletters | {{ societyName }}{% endblock %}

{% block body %}

<main class="container-main">
        <div class="row justify-content-center">

                {% for newsletter in newsletters %}

                {{ include('partials/card.newsletter.html.twig') }}

                {% endfor %}
        </div>
</main>
{% endblock %}


