{% extends 'base.html.twig' %}

{% block title %} Newsletters | {{ societyName }}{% endblock %}

{% block body %}

<main class="container">
	<div class="mt-2 fil-ariane">
		<p>
		<a href="{{ path('home')}}">Accueil</a> -
		<a href="{{ path('newsletter_index')}}">Newsletters</a> 
		</p>
	</div>
        <div class="row justify-content-center">

                {% for newsletter in newsletters %}

                {{ include('partials/card.newsletter.html.twig') }}

                {% endfor %}
        </div>
</main>
{% endblock %}


