{% extends 'email/base.html.twig' %}

{% block body %}

<main>

    <p>Demande de rappel</p><br>

    <p>Heure : <em>{{ time }}</em></p>
    <p><em>{{ number }}</em></p><br>
    Motif de la demande : <p><em>{{ motif }}</em></p><br>

</main>



{% endblock %}