{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour Mme/Mr {{ name }},</p><br>

    <p>Nous vous confirmons la reception de votre declaration de sinistre.</p>

    <p>Nous traitons votre déclaration dans les plus brefs délais et nous vous tiendrons informé de l'avancement des démarches.</p><br>


    <p>Cordialement,</p>

    <p><strong>L'équipe Liguori Assurances</strong></p>
</main>



{% endblock %}