{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour</p><br>

    <p>Nous vous confirmons la supression de votre compte.</p><br>

    <p>Cordialement,</p>

    <p><strong>L'équipe Liguori Assurances</strong></p>
</main>

{% endblock %}