{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour {{ firstname }},</p><br>

    <p>{{ subject }}</p>

    <p>{{ content }}</p><br>


    <p>Cordialement,</p>

    <p><strong>L'équipe Liguori Assurances</strong></p>
</main>



{% endblock %}