{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour {{ firstname }},<br><br>
    Voici notre dernier article :</p><br>

    <h1>{{ subject }}</h1>

    <p>{{ content|raw }}</p><br>


    <p>Cordialement,</p>

    <p><strong> L'équipe Garanties Optimales</strong></p>

    <p><small>Pour vous désabonner de notre newsletter cliquez <a href="{{ path('user_edit', {'lastname' : app.user.lastname})}}"> ici </a></small></p>
</main>



{% endblock %}