{% extends 'email/base.html.twig' %}

{% block body %}

<main>

    <p>Nouvelle déclaration de sinistre</p><br>

    <p>Nom : {{ name }}</p><br>
    <p>Prénom : {{ firstname }}</p><br>
    <p>Numero de contrat : {{ number }}</p><br>
    <p>Texte : {{ text }}</p><br>


</main>

{% endblock %}