{% extends 'email/base.html.twig' %}

{% block body %}
<main>
<h1>Bonjour et bienvenue chez Garanties Optimales!</h1>

<p>
    Merci de confirmer votre mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement
</p>
</main>
{% endblock %}