<h1>Bonjour et bienvenue chez MGL Courtage! Merci de confirmer votre adresse email!</h1>

<p>
    Merci de confirmer votre mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement
</p>
