   <div class="table-responsive overflow-auto pb-3">
   <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Date d'ajout</th>
                <th>Action</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
        {% for document in app.user.document %}
            <tr>
                <td>{{ document.Type|raw }}</td>
                <td>{{ document.DateTelechargement ? document.DateTelechargement|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">Voir</a>
                </td>
                <td>
                    <a href="{{asset('assets/images/attachment/user/' ~ document.fichier)}}" target="_blank"><i class="fas fa-download"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Document</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
