{% extends 'email/base.html.twig' %}

{% block body %}

<main>

<p>Demande de devis</p>
<p>Nom : <em>{{ nom }}</em></p>
<p>Prenom : <em>{{ prenom }}</em></p>
<p>Date de naissance : <em>{{ dateNaissance }}</em></p>
<p>Profession : <em>{{ profession }}</em></p>



</main>


{% endblock %}