/* BODY HTML */

body {
  height: 100vh;
  background-color: lightgrey;
}

.container-nav-body{
  position: relative;
  height: 100%;
}

/* LOGO BAR + NAV */

.navbar-top {
    background-color: white;
}

.infoNav {
    font-weight : bold;
}

.navConnect {
    margin-top: 15px;
}

.slogan {
    font-family: 'Galada', cursive;
    font-size: 45px;
}

/* FACEBOOK */

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 30px;
    border-radius: 2px;
}
  
/* TWITTER */

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 2px;
}


/* NAVIGATION BAR */


ul li {
    list-style-type: none;
    display: inline;
    font-size: 14px ;
}

#menu {
    border-bottom: 2px solid gold;
    border-top: 2px solid gold;
}

#menu ul {
    margin: 0;
    padding: 0;
  }
  
#menu .main-menu {
    display: none;
}
  
#tm:checked + .main-menu {
    display: block;
}
  
#menu input[type="checkbox"], 
#menu ul span.drop-icon {
    margin-left: 0.2rem;
    display: none;
}
  
.nav-link {
    color: white;
    padding: .5rem 2rem;
}

.nav-link:hover {
    color: gold;
    text-decoration: underline;
}
  
#menu .sub-menu {
    background-color: black;
    border-width: 1px 1px 0;
    margin: 0 1em;
    
}
  
#menu .sub-menu li:last-child {
    border-width: 0;
}
  
#menu li, 
#toggle-menu, 
#menu a {
    position: relative;
    display: block;
}

#menu .active {
    color: gold;
}
  
#menu, 
#toggle-menu {
    background-color: black; ;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
  
#menu a {
    padding-top: 1em;
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}
  
#menu .sub-menu {
    display: none;
}
  
#menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
}
  
#menu label.drop-icon, #toggle-menu span.drop-icon {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    text-shadow: 0 0 0 transparent;
    color: gold;
}

.drop-icon-burger {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: white;
}

#menu .drop-icon {
    line-height: 1;
}

.btn-search {
  border: 2px solid white; 
}

.btn-search:hover {
  background-color: gold; 
  color: #ffffff;
}

.form-control:focus, .btn-search:focus {
  box-shadow: 0 0 5px gold;
  border: 1px solid gold; 
}

.fa-search {
color: white;
}

/* MEDIA QUERIES */

  @media only screen and (max-width: 64em) and (min-width: 52.01em) {

    #menu .sub-menu li {
      width: auto;
    }
  
  }

  @media only screen and (min-width: 992px) {
    #menu .main-menu {
    display: flex;
    justify-content: center;
    }
  
    #toggle-menu, 
    #menu label.drop-icon {
      display: none;
    }
  
    #menu ul span.drop-icon {
      display: inline-block;
    }
  
    #menu li {
      float: left;
      border-width: 0 1px 0 0;
    }
  
    #menu .sub-menu li {
      float: none;
    }
  
    #menu .sub-menu {
      border-width: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 13.5rem;
      z-index: 3000;
    }
  
    #menu .sub-menu, 
    #menu input[type="checkbox"]:checked + .sub-menu {
      display: none;
    }
  
    #menu .sub-menu li {
      border-width: 0 0 1px;
    }
  
    #menu .sub-menu .sub-menu {
      top: 0;
      left: 100%;
    }
  
    #menu li:hover > input[type="checkbox"] + .sub-menu {
      display: block;
    }

  }
  @media only screen and (max-width: 990px) {
    .form-inline {
        width: 90%;
        margin-left: 1rem;
    }
}


/* FOOTER */

footer {
    
    background-color: black;
    text-align: center;
    padding: 1rem;
    color: grey;
    z-index: 1000;
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 150px;
    margin-top : 30px;
    border-top: 2px solid gold;
    margin-bottom: 0px;
}

.footer-link {
    color: white;
    font-size: 1.1rem;
}

.footer-link:hover {
    color: gold;
    text-decoration: underline;
}


/* LEFT NAV */


.left-nav {
  margin-left: -15px;
  margin-top: -8px;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 305px;
  background-color: black;
  height: 100vh;
  position: fixed;
  left: 0px;
  font-weight: bold;
  z-index: 50;
  font-size: 14px;
  border: 2px solid gold;
}

.fa-angle-right {
  margin-top: 0.1rem;
  margin-right: 0.5rem;
}

.left-nav-type {
  margin-bottom: 0.3rem;
}

.nav {
  margin-top: 10px;
}

.left-nav-label {
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
}

.left-nav-link {
  color: white;
}

.left-nav-link:hover {
  color: gold;
}

/* CARDS */

.card {
    background-color: #f0f6e8;
    border: 3px solid gold;
    border-radius: 2rem;
    box-shadow: 10px -10px black;
    min-width: 25vh;
    max-width: 25vh;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.container-body {
  display: flex;
}

.container-card {
  width: auto;
  margin-top: 40px;
  align-items: center;
}

/* HIDDEN FALLBACK */

[hidden] {
  display: none;
  visibility: hidden;
}


.group-list,
.sub-group-list,
.sub-sub-group-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  padding-left: 1.5rem;
}

.group-list {
    margin-top: -1px;
}
 
.nav__list input[type=checkbox]:checked + label + ul {
	/* reset the height when checkbox is checked */
  max-height: 1000px;
}

/* ROTATING CHEVRON ICON */

label > .fa-plus-category {
  float: right;
  margin-top: 3px;
  transition: transform .65s ease;
  transform: rotate(90deg);
  margin-left: 8px;
}

label > .fa-minus-category {
    display: none;
    margin-top: 3px;
    margin-left: 8px;
  }
  
  label > .fa-minus-subcategory {
      display: none;
      margin-top: 3px;
      margin-left: 8px;
    }
.nav__list input[type=checkbox]:checked + label > .fa-plus {
    display: none;
}

.nav__list input[type=checkbox]:checked + label > .fa-minus-category {
    display: block;
    float: right;
    color: white;
    padding: 2px 5px;
}


.nav__list input[type=checkbox]:checked + label > .fa-plus {
    display: none;
}


.fa-angle-right {
    margin-top: 0.1rem;
    margin-right: 0.5rem;
}

.left-nav-type {
    margin-bottom: 0.3rem;
}

/* ERROR 404 & 403 */

.message-error{
    text-align: center;
    font-size: 2rem;
}

.message-error {
    color: #739377;
}

@media only screen and (min-width: 992px) {
    .message-error {
        font-size: 3rem;
    }
}

/* FORM CONNECT */


.main-title {
  border-bottom: 1px solid black;
}

.form-btn-connexion {
  background-color: black !important;
  border: 2px solid gold; 
  font-size: 0.8rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}


.form-btn-connexion:hover {
  color: gold;
  text-decoration: underline;
}

.form-btn-connexion:focus {
  border: 2px solid #617e64; 
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}

/* FORM */

.form-link-back {
  padding-left: 1rem;
  margin-bottom: 3rem;
  color: black !important;
}

.form-link-password {
  color: #617e64 !important;
}
.submit-button-container{
  display: flex;
  justify-content: center;
}
.user-form-label,
.user-form-input {
    margin-top: 2rem;
}
.form-btn, .form-btn-delete, .cgu-btn{
  width: 8rem;
  margin-top: 2rem;
  background-color: black;
  border: 2px solid gold; 
  font-size: 0.8rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}

.modal-btn {
  background-color: black;
  border: 2px solid gold; 
  font-size: 0.8rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}

.modal-btn:hover, .modal-btn-delete:hover {
  color: #ffffff;
  text-decoration: underline;
}

.alert {
  margin-top: 1rem;
}

.alert-danger {
  color: #d63804 !important;
  background-color: #F1AF96 !important;
}

.btnEye {
  color: white;
  border: 0px;
  background-color: black;
  border: 2px solid gold;
}

.btnEye:hover, .btnEye:focus {
  color: gold;
  outline: none;
  text-decoration: underline;
}

.form-btn:hover, .form-btn-delete:hover, .cgu-btn:hover{
  color: gold;
  text-decoration: underline;
}

.form-btn-delete:focus {
  border: 2px solid  gold; 
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}

.form-btn:focus {
  border: 2px solid gold; 
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.19);
}

.submit-button-container{
  display: flex;
  justify-content: center;
}

.form-asterisk-mandatory{
  color: red;
  font-weight: 500;
  font-size: 1.2rem;
}

.modal-header {
  background-color:  black;
  color: gold;
}

.btn-close-modal {
  color:white;
}

/* ALL PAGES - MAIN */

main {
  min-height: 100vh;
}

.main-content {
  min-height: 100vh;
}

.main-title {
  border-bottom: 1px solid #000000;
}

.main-title h2 {
  font-size: 1.3rem;
  text-align: justify;
}

.main-sort-select {
  background-color: #ffffff;
  border: none;
}

.main-sort-select:focus {
  box-shadow: 0 0 5px #617e64 !important;
  border: 1px solid #617e64;
  outline: none;
}