{% extends 'base.html.twig' %}

{% block title %}Devis Assurance Automobile | {{ societyName }}{% endblock %}

{% block body %}

      
<main class="container-fluid">
	<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">

										<div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_dark  et_pb_text_align_left">
											<div class="et_pb_text_inner">
												<h1>Votre devis Automobile</h1>
											</div>
										</div>
									</div>

<br><br><br>

<iframe frameborder="0" height="800px" scrolling="yes" src="http://www.gestion-assurances.com/site_partenaire.aspx?code=OPE7790&amp;dst=2" width="100%"></iframe> 


</main>
{% endblock %}

