{% extends 'base.html.twig' %}

{% block title %}Assurance | {{ societyName }}{% endblock %}

{% block body %}

      
<main class="container-fluid">
{% dump(app.request) %}


<iframe frameborder="0" height="1200px" scrolling="yes" src="https://espaceprive.aprilmarine.fr/prg/iframe.php?iframe=1&code_ecran=ADV036&partenaire=MGL880" width="100%"></iframe>  
{#}

{% set template = app.request.attributes.get('slug')%}

{{ include('partials/types/' ~ template ~ '.html.twig') }}
{#}
</main>
{% endblock %}



