{% extends 'base.html.twig' %}

{% block title %}Devis Assurance Protection Juridique | {{ societyName }}{% endblock %}

{% block body %}


      
<main class="container-fluid">

<iframe src=""></iframe>

</main>
{% endblock %}