{% extends 'base.html.twig' %}

{% block title %}MGL Courtage - {{ categorie.name }} {% endblock %}

{% block body %}


  <div class="container-body row justify-content-center main-content">
    {{ include('partials/left-nav.html.twig') }}
      <div class="container-card row justify-content-center">

      </div>
  </div>
</main>
{% endblock %}