{% extends 'base.html.twig' %}

{% block title %}MGL Courtage - {{ categorie.name }} {% endblock %}

{% block body %}
<main class="container-fluid">
  <div class="container-body">
    {{ include('partials/left-nav.html.twig') }}
      <div class="container-card row justify-content-center">

      </div>
  </div>
</main>
{% endblock %}