{% extends 'base.html.twig' %}

{% block title %}Assurance {{type.name}} | {{ societyName }}{% endblock %}

{% block body %}

      
<main class="container-fluid">

{% set template = app.request.attributes.get('slug')%}
<section class="card-sous-categorie">
{{ include('partials/types/' ~ template ~ '.html.twig') }}
</section>
</main>
{% endblock %}