{% extends 'base.html.twig' %}

{% block title %}Erreur 404 {{ parent() }}{% endblock %}

{% block body %}
<main class="container-error">
  <div class="row mt-3 justify-content-center">
  <img class="img-error" src="{{ asset('assets/images/logo1.png') }}"  alt="erreur 404">
  <div class="content-error">
  <p class="col-12 message-error">Oups...,<br><br><br> je me suis perdu<br><br><br> cette page<br><br><br> n'existe pas...</p><br><br>
  <a class="link-error" href="{{ path('home')}}">Revenir à l'accueil</a>
  </div>
  
  </div>
</main>
{% endblock %}