{% extends 'base.html.twig' %}

{% block title %}Erreur 500 {{ parent() }}{% endblock %}

{% block body %}
<main class="container-error">
  <div class="row mt-3 justify-content-center">
  <img class="img-error" src="{{ asset('assets/images/logo1.png') }}"  alt="erreur 500">
  <div class="content-error">
  <p class="col-12 message-error">Oups...,<br><br><br> une erreur est<br><br><br>survenue...</p><br><br>
  <a class="link-error" href="{{ path('home')}}">Revenir à la page d'accueil</a>
  </div>
  
  </div>
</main>
{% endblock %}